<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end">
        <div class="user-info" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center">
            <img class="profile-image avatar huge" src="assets/images/avatars/andrew.jpg">

            <div class="name">John Doe</div>
        </div>

        <div class="actions" layout="row" layout-align="end center">

            <md-button ng-click="showPrompt($event)" style="background: rgba(255,255,255, 0.5);">Ajouter un projet

            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" flex>

        <div class="p16 widget-group layout-wrap ng-scope layout-row flex-100" layout="row" flex="100" layout-wrap="">
                <div flex-gt-xs="50" flex-gt-md="33" layout="column">
                    <md-card style="margin : 8px 8px 20px 8px;">
                    <md-card-header>
                      <md-card-avatar>
                        <img style="border-radius: 50%;" src="assets/images/avatars/trevino.jpg"/>
                      </md-card-avatar>
                      <md-card-header-text>
                        <span style="color : #1b222e;font-weight : bold;" class="md-title">Victor Dusse</span>
                        <span style="color : #1b222e;" class="md-subhead">Aix-en-Provence</span>
                      </md-card-header-text>
                    </md-card-header>
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">Algorithmes de vision topographique par ordinateur </span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                      <p>
                        Algorithmes de vision topographique par ordinateur pour des diagnostics hématologiques et une détection des parasites rapides et peu onéreux grâce au modèle de classification des forêts aléatoires et à l'imagerie de type van Leeuwenhoek.
                      </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                      <md-button ui-sref="app.pages_projet_get({id : 11})" ng-click="changeToRoom(11)" class="md-icon-button" aria-label="Share">
                        <md-icon md-svg-icon="assets/angular-material-assets/img/icons/share-arrow.svg"></md-icon>
                      </md-button>
                    </md-card-actions>
                  </md-card>
              </div>

                  <div flex-gt-xs="50" flex-gt-md="33" layout="column">
                      <md-card style="margin : 8px 8px 20px 8px;">
                      <md-card-header>
                        <md-card-avatar>
                          <img style="border-radius: 50%;" src="assets/images/avatars/velazquez.jpg"/>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span style="color : #1b222e;font-weight : bold;" class="md-title">Clément Petrali</span>
                            <span style="color : #1b222e;" class="md-subhead">Marseille</span>
                        </md-card-header-text>
                      </md-card-header>

                      <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline">Faut-il craindre une cyber-guerre?</span>
                        </md-card-title-text>
                      </md-card-title>
                      <md-card-content>
                        <p>
                          Depuis le début du xxie siècle, le réseau global est devenu un lieu de confrontation militaire majeur. L'utilisation d'Internet permet de s'infiltrer rapidement dans tous les réseaux les plus sensibles du monde.
                        </p>
                      </md-card-content>
                      <md-card-actions layout="row" layout-align="end center">
                        <md-button ui-sref="app.pages_projet_get({id : 12})" ng-click="changeToRoom(12)" class="md-icon-button" aria-label="Share">
                          <md-icon md-svg-icon="assets/angular-material-assets/img/icons/share-arrow.svg"></md-icon>
                        </md-button>
                      </md-card-actions>
                    </md-card>
                </div>

                    <div flex-gt-xs="50" flex-gt-md="33" layout="column">
                        <md-card style="margin : 8px 8px 20px 8px;">
                        <md-card-header>
                          <md-card-avatar>
                            <img style="border-radius: 50%;" src="assets/images/avatars/jane.jpg"/>
                          </md-card-avatar>
                          <md-card-header-text>
                              <span style="color : #1b222e;font-weight : bold;" class="md-title">Maria Derulo</span>
                              <span style="color : #1b222e;" class="md-subhead">Marseille</span>
                          </md-card-header-text>
                        </md-card-header>

                        <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">Lutter contre la faim dans le monde à l'aide des bactéries naturelles</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                          <p>
                            Nous avons effectué des recherches sur l'utilisation des bactéries diazotrophes pour faciliter la germination et la croissance des céréales. En nous basant sur une variété naturelle de rhizobiums de la famille des bactéries diazotrophes, nous avons mené une étude approfondie de leur impact sur le taux de germination et le développement des cultures de blé...
                          </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">

                          <md-button ui-sref="app.pages_projet_get({id : 14})" ng-click="changeToRoom(14)" class="md-icon-button" aria-label="Share">
                            <md-icon md-svg-icon="assets/angular-material-assets/img/icons/share-arrow.svg"></md-icon>
                          </md-button>
                        </md-card-actions>
                      </md-card>
                  </div>
            </div>

    </div>
    <!-- / CONTENT -->

</div>
