<div id="todo" class="page-layout simple fullwidth" layout="column">
    <div>
      <div class='input-form'>
        <input type='text' ng-model='newTask' />
        <button ng-click='addTask(newTask)'>Add</button>
      </div>
      <div ng-repeat='task in taskList'>
        <span class="close" ng-click='deleteTask($index)'>✖</span>
        <p>
            <input type='checkbox' ng-model='task.done' />
            <label ng-class='{done: task.done}'><span class="taskname">{{task.task}}</span></label>
        </p>
      </div>
  </div>
</div>
